<!DOCTYPE html>
<html>
<head>
    <title><%- theme.title %></title>
    <meta charset="UTF-8">
    <!--自定义样式-->
    <%- css('css/main.css') %>
    <!--引入库样式-->
    <%- css('lib/font-awesome-4.7.0/css/font-awesome.css') %>
    <%- css('lib/highlight/styles/atom-one-dark') %>
</head>
<body>
<div id="mian">

    <aside id="aside">
        <%- include('aside.ejs') %>
    </aside>

    <nav id="nav">
        <%- include('nav.ejs') %>
    </nav>

    <div id="content">
        <%- body %>
    </div>
</div>

<%- js('lib/highlight/highlight.pack.js') %>
<%- js('lib/jquery-latest.js') %>
<%- js('lib/jquery.pjax.js') %>
<%- js('js/main.js') %>
//挂件效果
<script src="https://eqcn.ajz.miesnfu.com/wp-content/plugins/wp-3d-pony/live2dw/lib/L2Dwidget.min.js"></script>
<script>
    L2Dwidget.init({ "model": { jsonPath:
                "https://unpkg.com/live2d-widget-model-shizuku@1.0.5/assets/shizuku.model.json",
            "scale": 1 }, "display": { "position": "left", "width": 150, "height": 300,
            "hOffset": 0, "vOffset": -20 }, "mobile": { "show": true, "scale": 0.5 },
        "react": { "opacityDefault": 0.7, "opacityOnHover": 0.2 } });
</script>
</body>
</html>

